<div *ngFor='let report of device?.incident_reports'>
	<ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
    <li>
      <div align="center" class="collapsible-header card-panel grey"><i class="material-icons">sentiment_dissatisfied</i>{{report.name}}</div>
      <div align="center" class="collapsible-body"><p>{{report.description}}</p></div>
    </li>
  </ul>

  <!-- <ul class="collapsible" data-collapsible="accordion">
   <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{report.name}}</div>
      <div class="collapsible-body"><p>{{report.description}}</p></div>
    </li>
  </ul> -->

	<!-- <table class="bordered highlight card-panel grey z-depth-5">
		<thead>
			<th>Name</th>
		</thead>
		<tbody>
			<tr>
				<td>{{report.name}}</td>
				<td></td>
			</tr>
		</tbody>
	</table> -->
<!-- <h5 align="center" class=" striped card-panel grey hoverable z-depth-5">  {{report.name}}- {{report.description}}</h5> -->

</div>

