<div *ngFor = 'let user of all_users'>
	<div *ngIf='user.admin'>
		<h3 class="card-panel grey z-depth 5"><i class="material-icons">sentiment_very_dissatisfied</i>{{user.name}}</h3>
	</div>
</div>

<div *ngFor="let group of all_users">
<div *ngIf='!group.admin'>
	<h3 align="center" class='card-panel black z-depth-5'>{{group.name}}</h3>
		<div *ngFor="let user of group.users">
			<h3 align="center" class='card-panel blue z-depth-5'>{{user.name}}</h3>
				<div *ngFor="let device of user.devices">
					<div *ngIf='device.status'>
  					<table class="bordered highlight card-panel green z-depth-5">
  						<tbody>
  							<tr>
  								<td><i class="material-icons">stay_current_portrait</i> {{device.name}}</td>
  							</tr>
  						</tbody>
  					</table>
  				</div>
  				<div *ngFor="let device of user.devices">
					<div *ngIf='!device.status'>
  					<table class="bordered highlight card-panel red z-depth-5">
  						<tbody>
  							<tr>
  								<td><i class="material-icons">broken_image</i> {{device.name}}</td>
  							</tr>
  						</tbody>
  					</table>
  				</div>
        </div>
		</div>
</div>
